@greycolor: #455a64;
@greencolor: #00796b;
@orangecolor: #ffa000;
@bluecolor: #00476c;
@font1: "inherit";
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
body {
    font-family: 'Lato', sans-serif;
}

::selection {
    .greenbg;
}

a {
    color: @orangecolor;
}

a:hover {
    color: #9C3D34;
}

select:focus,
input:focus {
    outline-offset: -2px !important;
    outline: @orangecolor auto 4px !important;
}

button:focus {
    outline: 0px !important;
}

button:active {
    box-shadow: 0px 0px 0px black !important;
    outline: 0px !important;
}

.btn {
    /*padding: 0px !important;
    vertical-align: inherit !important;*/
}

.btn:focus {
    color: white;
}

.fontweight600:focus {
    color: @greencolor !important;
}

.fontweight600:hover {
    color: @greencolor !important;
}

.form-control:focus {
    border-color: @orangecolor;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px @orangecolor;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px @orangecolor;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: @orangecolor !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
}

p {
    line-height: 180%;
}

.repeated-item.ng-enter,
.repeated-item.ng-move {
    -webkit-animation: 0.5s rollIn;
    -moz-animation: 0.5s rollIn;
    -o-animation: 0.5s rollIn;
    animation: 0.5s rollIn;
}


/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/

.repeated-item.ng-enter.ng-enter-active,
.repeated-item.ng-move.ng-move-active {
    opacity: 1;
}


/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/

.repeated-item.ng-leave {
    -webkit-animation: 1s hinge;
    -moz-animation: 1s hinge;
    -o-animation: 1s hinge;
    animation: 1s hinge;
    position: absolute;
}

ul.socialicons {
    list-style: none;
    margin-top: -8px;
}

ul.socialicons li {
    float: left;
}

ul.socialicons li i {
    float: left;
    font-size: 25px;
    padding: 5px;
    color: @orangecolor;
}

ul.socialicons li i:hover {
    float: left;
    font-size: 25px;
    padding: 5px;
    color: #9C3D34;
}

.logo img {
    height: 50px;
    margin-top: 5px;
}

.img {
    width: 100%;
}

.template {
    margin-bottom: 10px;
}

.template.headermenu {
    /* BASIC CSS TO HEADER MENU */
    background-color: @greencolor;
    color: white;
}

.template.menu {
    /* BASIC CSS TO SECTION */
}

.template.footermenu {
    background: #E9E7E7;
    padding: 10px;
    color: #444;
}

.template.content {
    min-height: 300px;
    margin-bottom: 50px;
}

.template.footer {
    background: @greycolor;
    padding: 10px;
    color: #fff;
    font-size: 80%;
    position: fixed;
    top: 94vh;
    width: 100%;
}

.template.footermenu ul {
    list-style: none;
    padding: 0px;
}

.template.footermenu ul li a {
    color: #444;
}

.template.footer a {
    color: #eee;
}


/*header*/

.headerbg {
    background-color: @greycolor;
    height: 60px;
    border-bottom: 4px @greencolor solid;
}


/*MENU*/

.mobmenu {
    width: 100%;
    text-align: center;
}

.menuitem {
    height: 60px;
    background-color: @greencolor;
    text-align: center;
    padding-top: 16px;
    color: white;
    font-size: 1.3em;
    .left-to-right;
    cursor: pointer;
}

.fullmenu {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.79);
    ;
}

.left-to-right {
    border-bottom: 2px solid;
    border-image: -webkit-linear-gradient(right, rgba(255, 0, 0, 0), rgba(69, 90, 100, 0.15), @greycolor, rgba(69, 90, 100, 0.15), rgba(255, 0, 0, 0)) 20%;
    /*Safari 5.1-6*/
    border-image: -o-linear-gradient(right, rgba(255, 0, 0, 0), rgba(69, 90, 100, 0.15), @greycolor, rgba(69, 90, 100, 0.15), rgba(255, 0, 0, 0)) 20%;
    /*Opera 11.1-1215*/
    border-image: -moz-linear-gradient(right, rgba(255, 0, 0, 0), rgba(69, 90, 100, 0.15), @greycolor, rgba(69, 90, 100, 0.15), rgba(255, 0, 0, 0)) 20%;
    /*Fx 3.6-15*/
    border-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(69, 90, 100, 0.15), @greycolor, rgba(69, 90, 100, 0.15), rgba(255, 0, 0, 0)) 20%;
    /*Standard*/
}

.active {
    background-color: @orangecolor !important;
}


/*HOME PAGE*/

.addbutton {
    background-color: @greencolor;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    color: white;
    font-size: 4em;
    padding: 3%;
    margin-left: 50%;
    margin-top: 20%;
    padding-left: 3.5%;
    cursor: pointer;
}

.btntext {
    font-size: 1.5em;
    color: @greycolor;
    font-family: @font1;
}

.backupheader {
    background-color: @greencolor * 0.5;
    color: white;
    padding: 2%;
    font-weight: 700;
}

.backupmiddle {
    .greenbg;
    padding: 2%;
    font-size: 2em;
}

.backupend {
    .greenbg;
    padding: 2%;
}

.darkgreentext {
    color: @greencolor * 0.5;
}

.backupbtn {
    color: white;
    margin-top: 10px;
    border-color: white;
    margin-bottom: 10px;
}


/*STATS*/

.graphdiv {
    .greenbg;
    height: 60vh;
}

.countsdiv {
    .greybg;
    height: 80px;
    overflow: scroll;
    cursor: pointer;
    .top-to-bottom;
}

.top-to-bottom {
    border-right: 2px solid;
    border-image: -webkit-linear-gradient(top, rgba(255, 0, 0, 0), rgba(69, 90, 100, 0.15), #ffffff, rgba(69, 90, 100, 0.15), rgba(255, 0, 0, 0)) 20%;
    /*Safari 5.1-6*/
    border-image: -o-linear-gradient(top, rgba(255, 0, 0, 0), rgba(69, 90, 100, 0.15), #ffffff, rgba(69, 90, 100, 0.15), rgba(255, 0, 0, 0)) 20%;
    /*Opera 11.1-1215*/
    border-image: -moz-linear-gradient(top, rgba(255, 0, 0, 0), rgba(69, 90, 100, 0.15), #ffffff, rgba(69, 90, 100, 0.15), rgba(255, 0, 0, 0)) 20%;
    /*Fx 3.6-15*/
    border-image: linear-gradient(to top, rgba(255, 0, 0, 0), rgba(69, 90, 100, 0.15), #ffffff, rgba(69, 90, 100, 0.15), rgba(255, 0, 0, 0)) 20%;
    /*Standard*/
}

.statsnumber {
    padding-top: 5px;
    font-size: 0.9em;
}

.hrmargin {
    margin-top: 0px;
    margin-bottom: 0px;
}

.filterdesc {
    font-size: smaller;
    color: rgba(69, 90, 100, 0.53) !important;
}

.graphheight {
    height: 62vh !important;
}

.filterbtn {
    padding: 0.5% !important;
    float: right;
    color: #00796b;
    background-color: white;
    border-color: #00796b;
}

.modalbtn {
    width: 60px;
    padding: 1% !important;
    color: #00796b;
    background-color: white;
    border-color: #00796b;
}


/*REPORTS*/

.autolistitem {
    height: 150px;
    overflow: hidden;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: rgba(0, 121, 107, 0.31);
    ;
}

.reporttable {
    margin-bottom: 0px !important;
}

.tablediv {
    //height: 420px;
    //overflow: scroll;
    width: 100%;
}

.tablehead {
    width: 100%;
    .greenbg;
}

.reportmenubtn {
    border: 0px;
    box-shadow: 1px 2px 6px #000000;
    font-size: 1.2em;
    /* background-color: black; */
    /* color: green; */
    border-radius: 6px;
    /* color: black; */
    background-color: #f5f5f5;
    cursor: pointer;
}

.actionsmodaldiv {
    background-color: rgba(255, 255, 255, 0.58);
    font-size: 5em;
    padding: 6%;
    color: @greycolor;
}

.individualactionbutton {
    cursor: pointer;
    margin-bottom: 20px;
    border: 3px solid;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 0.9em;
    padding-top: 17%;
}


/*.tablediv tr {
    width: 100%;
    display: inline-table;
    table-layout: fixed;
}
*/

.tablediv table {}

.tablediv thead {}


/*.tablediv tbody {
    overflow-y: scroll;
    height: 382px;
    //position: absolute;
}*/

.tbodydiv {}


/*CREATE*/

.homebg {
    margin-top: -10PX;
    background-image: url('../img/home_bg.jpg');
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 85%;
    /* PADDING-top: 20px; */
    /* background-position-x: 10%; */
    background-position-y: 56%;
}

.customertitles {
    display: inline-block;
}

.custdiv {
    border: 2px dashed @greencolor;
    border-style: dashed;
    border-radius: 6px;
    padding: 1%;
}

.invoicelistheader {
    margin-top: 5px;
    height: 29px;
    text-align: center;
    font-size: 1.2em;
    overflow: hidden;
}

.invoicebrackets {
    font-size: 0.8em;
}

.billfield {
    margin-top: 5px;
    width: 95%;
    border: 1px @greencolor solid;
    border-radius: 2px;
}

.additembtn {
    margin-top: 10px;
    color: white;
    background-color: @greencolor;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 10px #000000;
    border: 0px;
}

.subtotaldiv {
    padding: 0%;
    padding-left: 3%;
    font-size: large;
}

.taxvaluesdiv {
    padding: 1%;
    font-size: medium;
}

.createfinalbutton {
    color: @greencolor;
    background-color: white;
    border-color: @greencolor;
    width: 90%;
}

.datesinp {
    color: #455a64;
    display: inline-block;
    border: 1px #00796b solid;
    border-radius: 2px;
}

.totalinput {
    margin-top: 5px;
    width: 75% !important;
    color: #455a64;
    border: 1px #00796b solid;
    border-radius: 2px;
}

.deleteitembtn {
    margin: 0px !important;
    width: 30px !important;
    height: 30px !important;
}

.deleteitembtn i {
    margin-top: -3px !important;
}

.totalalign {
    padding-left: 55px;
    text-align: left;
}

.suggestions-list {
    position: absolute;
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: auto;
    z-index: 999;
    background-color: grey;
    max-height: 250px;
}

.suggestions-list li {
    color: #000000;
    padding: 5px 10px;
    height: 30px;
    cursor: pointer;
    background: #f5f5f5;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 382px;
    z-index: 999;
}

.suggestions-list li:last-child {
    border-bottom: 1px solid #ddd;
    z-index: 999;
}

.suggestions-list li:hover {
    background: #ddd;
    z-index: 999;
}

.suggestions-list li:active,
.suggestions-list li.active {
    color: #FFFFFF;
    background: #990000;
    width: 382px;
    z-index: 999;
}

.suggestions-list:focus {
    outline: none;
}


/*ADD CUSTOMERS*/

.customerform .active {
    background-color: white !important;
}

.customerlistitem {
    padding: 2%;
    font-size: large;
    color: black !important;
}

.customersdiv {
    height: 400px;
    overflow: scroll;
}

.phonenumbercolor {
    color: rgba(14, 1, 1, 0.32) !important
}

.unitamtlabel {
    font-size: 0.8em;
    padding-top: 4px;
}

.thumbnaildiv {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: green;
    border-radius: 100%;
    padding: 1%;
    text-align: center;
    color: white;
    margin-right: 10px;
}

.customeritem {
    cursor: pointer;
    color: @greycolor;
    text-transform: capitalize;
}

.suggestioncontact {
    color: #a5a0a0;
    margin-left: 7px;
}


/*INVOICE*/

.invoicepage {
    padding: 2%;
    box-shadow: 0px 0px 18px #000000;
}

.invoicenumbox {
    background-image: url(../img/invoice_bg.jpg);
    background-size: 3%;
    background-repeat-y: no-repeat;
    border-radius: 15px;
    padding: 2%;
    width: 200px;
    height: 88px;
    color: white;
    text-align: center;
    font-size: 1.3em;
    margin-top: 15px;
}

.invoicenumtext {
    font-size: 18px !important;
    line-height: 1.9em;
    color: black !important;
}

.companydetails {
    font-size: 0.9em;
    line-height: 1.3em;
}

.hearderbox {
    padding: 0.5%;
    background-color: black;
}

.headertitle {
    color: white;
    margin-bottom: auto !important;
}

.customerbox {
    border-radius: 12px;
    border: 2px dashed #014971;
    padding-left: 3%;
}

.customertext {
    font-size: 0.9em;
    padding: 0%;
    line-height: 1.7em;
}

.gentext {
    bottom: 0px;
    position: absolute;
}

.invoiceitemfield {
    border: 1px solid #f0f0f3 !important;
    background-color: #f5f7f9 !important;
    height: auto;
    text-align: center;
}

.products-wrapper {
    font-size: 0.9em;
    color: black !important;
    border: 2px solid black;
}


/*REUSABLES*/

.textcenter {
    text-align: center !important;
}

.textleft {
    text-align: left !important;
}

.col-md-1-5 {
    width: 12.5%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.greenbg {
    background-color: @greencolor !important;
    color: white !important;
}

.greenbg:focus {
    color: white !important;
}

.greenbg:hover {
    color: white !important;
}

.greencolor {
    color: @greencolor !important;
}

.greybg {
    background-color: @greycolor !important;
    color: white !important;
}

.greycolor {
    color: @greycolor !important;
}

.orangebg {
    background-color: @orangecolor !important;
    color: white !important;
}

.orangecolor {
    color: @orangecolor !important;
}

.bluebg {
    background-color: @bluecolor !important;
    color: white !important;
}

.bluecolor {
    color: @bluecolor !important;
}

.marginbottom5 {
    margin-bottom: 5px;
}

.marginbottom20 {
    margin-bottom: 20px;
}

.marginbottom50 {
    margin-bottom: 50px;
}

.margintop20 {
    margin-top: 20px;
}

.margintop20p {
    margin-top: 20%;
}

.fontweight600 {
    font-weight: 600;
}

.width100 {
    width: 100%;
}

.width100px {
    width: 100px !important;
}

.width200px {
    width: 200px !important;
}

.paddingtop2 {
    padding-top: 2px;
}

.padding0 {
    padding: 0px;
}

.inlinedisplay {
    display: inline-block;
}

.marginleft50 {
    margin-left: 50px;
}

.smalltext {
    font-size: 13px
}

.font08 {
    font-size: 0.8em;
}


/*ERROR MODAL*/

.errormodalbutton {
    width: 100% !important;
    background-color: #e25c5c !important;
    color: white !important;
    height: 45px !important;
    border: 0px !important;
    border-radius: 0px !important;
}

.errormark {
    height: 60px;
    margin-bottom: 15px;
}

.errormodalheader {
    text-align: center;
    height: 150px;
    background-color: darkgrey;
}

.inheritclass {
    position: inherit !important;
}

.basicborder {
    border: 2px solid black;
}

.nomargin {
    margin: 0 !important;
    margin-right: 0 !important;
}

.selected {
    background-color: lightgray !important;
}


/*LOGIN STYLES*/

.form-wrapper {
    height: 50%;
    background-color: white;
    margin-left: 410px;
    box-shadow: 0px 0px 14px #676565;
    margin-top: 11%;
    width: 40%;
}

.text-left {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.login {
    width: 400px;
    margin: auto;
    left: 50%;
    transform: translate;
    transform: translate(-50%, 25%);
}

//font-size: 16px;
//
//}
/* Reset top and bottom margins from certain elements */

.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}


/* The triangle form is achieved by a CSS hack */

.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #00796b;
}

.login-header {
    background: #00796b;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: #ebebeb;
    padding: 30px;
    background-repeat: no-repeat !important;
}


/* Every row inside .login-container is defined with p tags */

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 9px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    margin-bottom: 17px;
    border-color: #bbb;
    color: #555;
}


/* Text fields' focus effect */

.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: #00796b;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #00796bd4;
}


/* Buttons' focus effect */

.login input[type="submit"]:focus {
    border-color: #05a;
}


/*Logout button*/

.btn logout {
    border: 1px solid black;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}


/* Darker background on mouse-over */

/*LOGIN FORM*/

.login {
    width: 400px;
    margin: auto;
    left: 50%;
    transform: translate;
    transform: translate(-50%, 25%);
}

//font-size: 16px;
//
//}
/* Reset top and bottom margins from certain elements */

.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}


/* The triangle form is achieved by a CSS hack */

.login-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #00796b;
}

.login-header {
    background: #00796b;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: #ebebeb;
    padding: 30px;
    background-repeat: no-repeat !important;
}


/* Every row inside .login-container is defined with p tags */

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 9px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}


/* Text fields' focus effect */

.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #888;
}

.login input[type="submit"] {
    background: #00796b;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: #00796bd4;
}


/* Buttons' focus effect */

.login input[type="submit"]:focus {
    border-color: #05a;
}

.error-messages {
    color: red !important;
}


/*Logout button*/

.logout-btn {
    float: right !important;
    background-color: #455a64 !important;
    color: white !important;
    margin-top: 9px;
    border: 1px solid;
    font-size: 16px;
    cursor: pointer;
}


/*TABLE STYLE*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: center;
    padding: 8px;
}

/*  tr:nth-child(even) {
            background-color: rgba(0, 121, 107, 0.31);
        }*/

.reportmenubtn {
    border: 0px;
    box-shadow: 1px 2px 6px #000000;
    font-size: 1.2em;
    border-radius: 6px;
    background-color: #f5f5f5;
    cursor: pointer;
}

.edit-btn {
    background: #00796b !important;
}

.close-btn {
    background: #00796b !important;
}

.table-plus-btn {
    margin-left: 30px;
}


/*TRACKING MODAL*/

.modal-body {
    background: rgba(221, 221, 221, 0.54) !important;
}

.close {
    margin: -5px !important;
}

.courier-wrapper {
    margin-bottom: 20px !important;
}

.courier-name {
    margin-left: 57px;
}

.track-input {
    background: white !important;
    border: 1px solid #827e7e !important;
    width: 75% !important;
    margin: auto;
}

.track-input:focus {
    box-shadow: 2px 2px 1px black;
}

.track-button-wrapper {
    margin-top: 18px !important;
    margin-left: 33% !important;
    width: 33% !important;
    background: #00796b !important;
}

.track-button-wrapper:hover {
    box-shadow: 1px 1px 1px black !important;
}

.first-uppercase {
    text-transform: capitalize
}

.select-option {
    display: block !important;
}
//.disabled-input{
//    input
//}
