<div class="homebg"></div>
<div class="container">
    <div class="row">
        <div class="col col-md-3">
            <div ng-include="template.menu" class="template menu"></div>
        </div>
        <div class="col col-md-6 textcenter">
            <a class="margintop20p btn-floating btn-large red greenbg animated bounceIn" ng-click="gotocreate()"><i class="fa fa-plus"></i></a>
            <div class="textcenter btntext">
                New Invoice
            </div>
        </div>
        <div class="col col-md-3">
            <div class="backupbox textcenter">
                <div class="backupheader textcenter">Last Backup On:</div>
                <div class="backupmiddle">{{date}}
                    <!--<button class="backupbtn" ></button>-->
                    <a class="backupbtn btn btn-warning-outline btn-rounded waves-effect" ng-click="backupdb()">TAKE BACKUP</a>
                </div>

            </div>
        </div>
    </div>
</div>

