<!--ERROR MODAL-->
<div class="modal fade errormodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header errormodalheader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <img src="img/errormark.png" width="25%" class="textcenter margintop20">
            </div>
            <div class="modal-body row textcenter">
                <h4>Oh Snap !</h4>
                <p ng-bind="errormsg"></p>
                <button type="button" class="btn modalbtn fontweight600" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<!--
<div ng-include="template.errormodal" class=""></div>

$scope.errormsg = "There has been some error. Try Again";
$('.errormodal').modal('show');
-->