<div class="headerbg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 textcenter">
                <div class="logo">
                    <img src="img/logo.png" alt="Logo">
                </div>
            </div>
            <div class="logout-wrapper" ng-if="$root.showlogout" ng-click="$root.logout()">
                <div class="logout-text">
                    <button class="btn logout-btn"><i class="fa fa-sign-out"></i> Logout</button>
                </div>

            </div>
        </div>
    </div>
</div>
