<div class="container" style="font-size:1.2em !important; color:black !important">

    <div class="row marginbottom20">
        <div class="col col-md-6 textcenter">
            <button class="btn createfinalbutton fontweight600 greenbg" ng-click="downloadpdf()">Download</button>
        </div>
        <div class="col col-md-6 textcenter">
            <button class="btn createfinalbutton fontweight600 greenbg" ng-click="proceed()">Done</button>
        </div>
    </div>

    <div class="invoicepage" id="exportthis">
        <div class="width100 textcenter hearderbox">
            <h4 class="headertitle">INVOICE</h4>
        </div>

        <div class="row">
            <div class="col col-md-6">
                <img src="img/flybird_logo.jpg" width="56%">
            </div>
            <div class="col col-md-6">
                <div class="invoicenumtext basicborder">
                    &nbsp; INVOICE NUMBER : {{invoice.bill_no}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-6">
                <p class="companydetails">
                    2 Kurban Seth Compound,
                    <br> Opp. Ratna Mahal Hotel,
                    <br> Chakala, Andheri-East, Mumbai - 400099
                    <br>
                    <span class="">Mobile:</span> +91 9967650184
                    <br>
                    <span class="">Email:</span> flybirdexpress@yahoo.co.in
                </p>
            </div>
            <div class="col col-md-6 basicborder">
                <h6 style="width: 80%;"><strong>Date: <span style="float:right">{{invoice.date | date:'dd-MM-yyyy'}}</span></strong></h6>
                <h6 style="width: 80%;"><strong>From Date: <span style="float:right">{{invoice.from_date | date:'dd-MM-yyyy'}}</span></strong></h6>
                <h6 style="width: 80%;"><strong>To Date: <span style="float:right">{{invoice.to_date | date:'dd-MM-yyyy'}}</span></strong></h6>
            </div>
        </div>

        <div class="row">
            <p style="font-size:0.8em;">CUSTOMER DETAILS:</p>
            <div class="col col-md-12 customerbox">
                <div class="row customertext">
                    <div class="col col-md-6">
                        <div class="row" ng-if="invoice.customer_company != ''">
                            <strong>Company: </strong>{{invoice.customer_company}}
                        </div>
                        <div class="row" ng-if="invoice.customer_address != ''">
                            <strong>Address:</strong> {{invoice.customer_address}}
                        </div>
                    </div>
                    <div class="col col-md-6">
                        <div class="row" ng-if="invoice.customer_name != ''">
                            <strong>Name:</strong> {{invoice.customer_name}}
                        </div>
                        <div class="row" ng-if="invoice.customer_contact != ''">
                            <strong>Contact: </strong>{{invoice.customer_contact}}
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div ng-if="nontaxedproducts.length >0">
            <div class="row bluebg invoicelistheader paddingtop2" style="font-size:0.6em;height:42px">
                <div class="col col-md-12" style="height:18px">Non Taxable Items</div>
                <div class="col col-md-1">#</div>
                <div class="col col-md-2">Date</div>
                <div class="col col-md-1">Product</div>
                <div class="col col-md-2">AWB / Service No.</div>
                <div class="col col-md-1">Weight</div>
                <div class="col col-md-1 unitamtlabel">Pcs.</div>
                <div class="col col-md-2">Destination</div>
                <div class="col col-md-2 totalalign">Total</div>
            </div>

            <div class="row products-wrapper" ng-repeat="field in nontaxedproducts">
                <div class="col col-md-1 textcenter" style="color:black !important">
                    <p style="margin: 0 !important; margin-right: 0 !important;"> {{$index+1}} </p>
                </div>
                <div class="col col-md-2 textcenter" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="margin: 0 !important; margin-right: 0 !important;"> {{field.date | date:'dd-MM-yyyy'}}</p>
                </div>
                <div class="col col-md-1 textcenter padding0" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="margin: 0 !important; margin-right: 0 !important;"> {{field.product_name}}</p>
                </div>
                <div class="col col-md-2 textcenter padding0" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="margin: 0 !important; margin-right: 0 !important;" ng-style="field.carrier.length > 12 ? { 'font-size':'0.8em' } : { 'font-size': '1em' }"> {{field.carrier}} </p>
                </div>
                <div class="col col-md-1 textcenter" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="margin: 0 !important; margin-right: 0 !important;"> {{field.weight}} </p>
                </div>
                <div class="col col-md-1 textcenter" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="color:black !important;margin: 0 !important; margin-right: 0 !important;">{{field.pieces}} </p>
                </div>
                <div class="col col-md-2 textcenter">
                    <p class="billfield invoiceitemfield" style="color:black !important;margin: 0 !important; margin-right: 0 !important;"> {{field.to_place}}</p>
                </div>
                <div class="col col-md-2">
                    <p class="totalinput invoiceitemfield" style="color:black !important;margin: 0 !important; margin-right: 0 !important;"> <i class="fa fa-inr"></i>{{field.total}}</p>
                </div>
            </div>

        </div>

        <div ng-if="taxedproducts.length >0">
            <div class="row bluebg invoicelistheader paddingtop2" style="font-size:0.6em;height:42px">
                <div class="col col-md-12" style="height:18px">Taxable Items</div>
                <div class="col col-md-1">#</div>
                <div class="col col-md-2">Date</div>
                <div class="col col-md-1">Product</div>
                <div class="col col-md-2">AWB / Service No.</div>
                <div class="col col-md-1">Weight</div>
                <div class="col col-md-1 unitamtlabel">Pcs.</div>
                <div class="col col-md-2">Destination</div>
                <div class="col col-md-2 totalalign">Total</div>
            </div>

            <div class="row products-wrapper" ng-repeat="field in taxedproducts">
                <div class="col col-md-1 textcenter" style="color:black !important">
                    <p style="margin: 0 !important; margin-right: 0 !important;"> {{$index+1}} </p>
                </div>
                <div class="col col-md-2 textcenter" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="margin: 0 !important; margin-right: 0 !important;"> {{field.date | date:'dd-MM-yyyy'}}</p>
                </div>
                <div class="col col-md-1 textcenter padding0" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="margin: 0 !important; margin-right: 0 !important;"> {{field.product_name}}</p>
                </div>
                <div class="col col-md-2 textcenter padding0" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="margin: 0 !important; margin-right: 0 !important;" ng-style="field.carrier.length > 12 ? { 'font-size':'0.8em' } : { 'font-size': '1em' }"> {{field.carrier}} </p>
                </div>
                <div class="col col-md-1 textcenter" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="margin: 0 !important; margin-right: 0 !important;"> {{field.weight}} </p>
                </div>
                <div class="col col-md-1 textcenter" style="color:black !important">
                    <p class="billfield invoiceitemfield" style="color:black !important;margin: 0 !important; margin-right: 0 !important;">{{field.pieces}} </p>
                </div>
                <div class="col col-md-2 textcenter">
                    <p class="billfield invoiceitemfield" style="color:black !important;margin: 0 !important; margin-right: 0 !important;"> {{field.to_place}}</p>
                </div>
                <div class="col col-md-2">
                    <p class="totalinput invoiceitemfield" style="color:black !important;margin: 0 !important; margin-right: 0 !important;"> <i class="fa fa-inr"></i>{{field.total}}</p>
                </div>
            </div>
        </div>


        <p style="font-size:0.8em">*The weight displayed in the invoice is volume weight or actual weight (whichever is higher).</p>
        <div class="row">
            <div class="col col-md-4">
            </div>
            <div class="col col-md-8 taxvaluesdiv" style="font-size: 0.9em;">
                <div class="col col-md-offset-3 col-md-6">Non-Taxable Amount</div>
                <div class="col col-md-3 marginbottom5"><i class="fa fa-inr"></i> {{nontaxableamount | decimal2}}</div>

                <div class="col col-md-offset-3 col-md-6">Taxable Amount</div>
                <div class="col col-md-3 marginbottom5"><i class="fa fa-inr"></i> {{taxableamount | decimal2}}</div>

                <div class="col col-md-offset-3 col-md-6" style="line-height: 75%;" ng-if="invoice.gsttype == '2'">IGST <span class="invoicebrackets">(@ of 18%)</span></div>
                <div class="col col-md-3 marginbottom5" ng-if="invoice.gsttype == '2'"><i class="fa fa-inr"></i> {{invoice.service_tax | decimal2}}</div>

                <div class="col col-md-offset-3 col-md-6" style="line-height: 75%;" ng-if="invoice.gsttype != '2'">CGST <span class="invoicebrackets">(@ of 9%)</span></div>
                <div class="col col-md-3 marginbottom5" ng-if="invoice.gsttype != '2'"><i class="fa fa-inr"></i> {{invoice.service_tax/2 | decimal2}}</div>

                <div class="col col-md-offset-3 col-md-6" style="line-height: 75%;" ng-if="invoice.gsttype != '2'">SGST <span class="invoicebrackets">(@ of 9%)</span></div>
                <div class="col col-md-3 marginbottom5" ng-if="invoice.gsttype != '2'"><i class="fa fa-inr"></i> {{invoice.service_tax/2 | decimal2}}</div>

                <!-- <div class="col col-md-offset-3 col-md-6" style="line-height: 75%;">Swach Bharat Tax <span class="invoicebrackets">(@ of 0.5%)</span></div>
                <div class="col col-md-3 marginbottom5"><i class="fa fa-inr"></i> {{invoice.swachhbharat_tax | decimal2}}</div>

                <div class="col col-md-offset-3 col-md-6" style="line-height: 75%;">Krishi Kalyan Tax <span class="invoicebrackets">(@ of 0.5%)</span></div>
                <div class="col col-md-3 marginbottom5"><i class="fa fa-inr"></i> {{invoice.krishikalyancess_tax | decimal2}}</div>-->

                <div class="col col-md-offset-3 col-md-6">Sub Total</div>
                <div class="col col-md-3 paddingtop2"><i class="fa fa-inr"></i> {{invoicetotal | decimal2}}</div>

                <div class="col col-md-offset-3 col-md-6 bluebg paddingtop2">Rounded Off</div>
                <div class="col col-md-3 bluebg paddingtop2"><i class="fa fa-inr"></i> {{invoice.total | number:0}}</div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-10">
                <p style="line-height: 1.2em;">
                    <span style="font-size: 1.1em;"><strong>Rs. {{invoice.total | words | capitalize}} only</strong></span>
                    <br>
                    <br>
                    <span class="">Terms Of Payment:</span>
                    <br> 1. Payment accepted only D/D or cheque in favour of <strong>"FLYBIRD INTERNATIONAL EXPRESS".</strong>
                    <br> 2. Payment terms 7days / 7 Days.
                    <br> 3. All Disputes subject to Mumbai jurisdiction only.
                    <br> 4. Interest @ 21% shall be charged against overdue payments.
                    <br> Please be informed that :-
                    <br> This is a computer generated bill and is valid even though not signed. In case of any discrepancy of whatsoever in the nature of the bill, Please inform in writing within 7 Days from the date of this bill, failing which it would deemed that this bill has been accepted by You in all respects & it is good for payment as per the terms & conditions of the contract and no further claim will be accepted.
                    <br> <strong>GSTIN 27AGFPB0366H1ZQ</strong>
                    <br> <strong>PAN NO AGFPB0366H</strong>
                    <br> <strong>SAC Code : {{invoice.type}}</strong>
                </p>
            </div>
            <div class="col col-md-2">
                <p style="float:right">E. & O.E.</p>
            </div>
        </div>

        <div class="row bluecolor">
            <div class="col col-md-4"></div>
            <div class="col col-md-4" style="height:90px">
                <p class="gentext" style="font-size: 0.3em;"></p>
            </div>
            <div class="col col-md-4 textcenter" style="font-size: 0.6em;">
                <hr> FLYBIRD INTERNATIONAL EXPRESS
                <br> (Authorised Signature)
            </div>
        </div>

        <div class="width100 textcenter hearderbox">
            <h4 class="headertitle">THANKYOU FOR YOUR BUSINESS</h4>
        </div>



    </div>

    <div class="row margintop20">
        <div class="col col-md-6 textcenter">
            <button class="btn createfinalbutton fontweight600 greenbg" ng-click="downloadpdf()">Download</button>
        </div>
        <div class="col col-md-6 textcenter">
            <button class="btn createfinalbutton fontweight600 greenbg" ng-click="proceed()">Done</button>
        </div>
    </div>
</div>
