<div class="homebg"></div>
<div class="login" style="position:absolute;">


    <div class="login-header head-wrapp" style="background-color:#ffa000; padding:12px;border-radius: 3px">BILLING SYSTEM LOGIN</div>

    <form class="login-container">

        <p>
            <input type="email" placeholder="Email" ng-model="user.email">
        </p>
        <p>
            <input type="password" placeholder="Password" ng-model="user.password">
        </p>
        <div class="error-messages" ng-if="errormessage">
            <span>{{errormessage}}</span>
        </div>

    </form>

    <div class="login-triangle"></div>

    <p class="login-header">
        <input id="login-btn" type="submit" ng-click="dologin()" value="Log in">
    </p>
</div>
