<div class="fullmenu z-depth-2" ng-controller="menuCtrl">
    <div class="menuitem" ng-repeat="menu in navigation" ng-if="menu.name != 'Login'" ng-class="{'active' : menu.classis == 'active'}" ng-click="goto(menu.appname)">
        {{menu.name}}
    </div>
</div>