<div class="container">
    <div class="row">
        <div class="col col-md-3">
            <div ng-include="template.menu" class="template menu"></div>
        </div>
        <div class="col col-md-9 textcenter">
            <div class="row animated bounceIn">
                <div class="col col-md-5 textleft">Date:</div>
                <div class="col col-md-3 textleft">Customer:</div>
                <div class="col col-md-2 textleft">Status:</div>
                <div class="col col-md-2 textleft">
                    <a class="btn btn-default" ng-click="getcsv(reports, 'reports', true)">
                        <i class="fa fa-download left"></i> Export</a>
                </div>
                <div class="col col-md-4 marginbottom5" style="padding-right: 0px;">
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="start" ng-model="filteroptions.fromdate" />
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" name="end" ng-model="filteroptions.todate" />
                    </div>

                </div>
                <div class="col col-md-1" style="padding-left: 0px;border-right: #636060 2px solid;">
                    <a class="btn btn-default" ng-click="getreports(filteroptions.fromdate,filteroptions.todate,filteroptions.customer,filteroptions.customer_contact,filteroptions.status, true)">Go</a>
                </div>

                <div class="col col-md-3" id="company-suggestions" style="border-right:#636060 2px solid">
                    <input class="width100" type="text" id="company-name" ng-model="filteroptions.customer" ng-change="nametyped()" ng-blur="resetfilter()">




                    <ul class="suggestions-list width200px">
                        <li class="width200px autolistitem" id="listitem{{$index}}" ng-repeat="suggestion in customers| filter:filter" ng-click="customerselected(suggestion)">{{suggestion.company}}<span class="suggestioncontact">{{suggestion.contact}}</span></li>
                        <!--
                    <li id="listitem0" class="">Pixolo</li>
                    <li class="">Pixolo</li>
                    <li class="">Pixolo</li>
                    <li class="">Pixolo</li>
                    <li class="">Pixolo</li>
                    <li class="">Pixolo</li>
-->

                    </ul>
                </div>
                <div class="col col-md-2">
                    <select ng-model="filteroptions.status" class="browser-default" ng-change="getreports(filteroptions.fromdate,filteroptions.todate,filteroptions.customer,filteroptions.customer_contact,filteroptions.status, true)">
                        <option value="" selected>All</option>
                        <option value="paid">Paid</option>
                        <option value="unpaid">Unpaid</option>
                    </select>
                </div>
                <div class="col col-md-2">
                    <a class="btn btn-default" ng-click="getcustomercsv(reports, 'reports', true)" ng-if="filteroptions.customer == ''">Cust_Report</a>
                </div>



            </div>

            <div class="tablediv" id="reportstableID" style="max-height: 310px;overflow: scroll;z-index:-10">
                <table class="table table-striped table-bordered reporttable" style="font-size: 0.9em;">
                    <thead>
                        <tr class="greenbg textcenter">
                            <th class="textcenter">#</th>
                            <th class="textcenter">Bill No.</th>
                            <th class="textcenter">Date</th>
                            <th class="textcenter">Client</th>
                            <th class="textcenter">Amount</th>
                            <th class="textcenter">GST</th>
                            <th class="textcenter">TDS</th>
                            <th class="textcenter">Total</th>
                            <th class="textcenter">Balance</th>
                            <th class="textcenter"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="report in reports">
                            <td>{{$index + 1}}</td>
                            <td>{{ report.bill_no }}</td>
                            <td>{{ report.date | date:'dd-MM-yyyy'}}</td>
                            <td>{{ report.customer_company }}</td>
                            <td>{{ report.amount | decimal2}}</td>
                            <td>{{ report.service_tax | decimal2}}</td>
                            <td>{{ report.tds | decimal2}}</td>
                            <td>{{ report.total | number:0}}</td>
                            <td>
                                <p ng-if="report.status == 'paid'">paid</p>
                                <p ng-if="report.status != 'paid'">{{ report.total - report.paid - report.tds | number:0}}</p>
                            </td>
                            <td>
                                <button class="reportmenubtn" type="button" data-toggle="modal" ng-click="reportaction($index)">
                                    <i class="fa fa-bars" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div class="col col-md-1-5 countsdiv">
                    <div class="orangecolor font08">Total Sales</div>
                    <div class="statsnumber">{{ totalsales | decimal2}}</div>
                </div>
                <div class="col col-md-1-5 countsdiv">
                    <div class="orangecolor font08">Net Sales</div>
                    <div class="statsnumber">{{ netsales | decimal2}}</div>
                </div>
                <div class="col col-md-1-5 countsdiv">
                    <div class="orangecolor font08">Service Tax</div>
                    <div class="statsnumber">{{ servicetax | decimal2}}</div>
                </div>
                <div class="col col-md-1-5 countsdiv">
                    <div class="orangecolor font08">SB TAX</div>
                    <div class="statsnumber">{{ sbtax | decimal2}}</div>
                </div>
                <div class="col col-md-1-5 countsdiv">
                    <div class="orangecolor font08">KKC Tax</div>
                    <div class="statsnumber">{{ kkctax | decimal2}}</div>
                </div>
                <div class="col col-md-1-5 countsdiv">
                    <div class="orangecolor font08">Total Tax</div>
                    <div class="statsnumber">{{ servicetax + sbtax + kkctax | decimal2}}</div>
                </div>
                <div class="col col-md-1-5 countsdiv">
                    <div class="orangecolor font08">Paid</div>
                    <div class="statsnumber">{{ totalpaid | decimal2}}</div>
                </div>
                <div class="col col-md-1-5 countsdiv">
                    <div class="orangecolor font08">Unpaid</div>
                    <div class="statsnumber">{{ totalunpaid | decimal2}}</div>
                </div>
            </div>
        </div>
    </div>


</div>

<!--ACTIoNS MODAL-->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content actionsmodaldiv">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Bill No: {{invoicenumberreference}}</h4>
            </div>

            <div class="modal-body row">
                <div class="col col-md-6 textcenter" ng-click="openpaymentmodal()">
                    <a>
                        <!-- data-toggle="modal" data-target=".paymentmodal"-->
                        <div class="individualactionbutton">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                    </a>
                    <p class="smalltext">Make Payment</p>
                </div>
                <div class="col col-md-6 textcenter">
                    <a ng-click="deletereport()">
                        <div class="individualactionbutton">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </div>
                    </a>
                    <p class="smalltext">Delete Invoice</p>
                </div>
                <div class="col col-md-6 textcenter">
                    <a ng-click="openinvoice()">
                        <div class="individualactionbutton">
                            <i class="fa fa-print" aria-hidden="true"></i>
                        </div>
                    </a>
                    <p class="smalltext">Print</p>
                </div>
                <div class="col col-md-6 textcenter">
                    <a ng-click="editinvoice()">
                        <div class="individualactionbutton">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </div>
                    </a>
                    <p class="smalltext">Edit</p>
                </div>
               
            </div>
        </div>
    </div>
</div>

<!--tracking modal-->





<!--FILTER MODAL-->
<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title greencolor" id="myModalLabel">Apply Filter</h4>
            </div>
            <div class="modal-body row">
                <div class="width100 col col-md-12 greencolor">
                    <h5>Date</h5>
                </div>
                <div class="col col-md-12">
                    <div class="input-daterange input-group" id="datepicker">
                        <input type="text" class="input-sm form-control" name="start" ng-model="filteroptions.fromdate" ng-change="checkval()" />
                        <span class="input-group-addon">to</span>
                        <input type="text" class="input-sm form-control" name="end" ng-model="filteroptions.todate" />
                    </div>
                </div>


                <div class="width100 col col-md-12 greencolor paddingtop2">
                    <h5>Customer</h5>
                </div>

                <div class="col col-md-12">
                    <input class="width100" type="text" ng-model="filteroptions.customer" ng-change="nametyped()" ng-blur="resetfilter()">

                    <ul class="suggestions-list">
                        <li ng-repeat="suggestion in customers| filter:filter" ng-click="customerselected(suggestion)">{{suggestion.company}}<span class="suggestioncontact">{{suggestion.contact}}</span></li>
                    </ul>

                </div>

                <div class="width100 col col-md-12 greencolor paddingtop2">
                    <h5>Status</h5>
                </div>

                <div class="col col-md-12">
                    <select ng-model="filteroptions.status">
                        <option value="" selected>All</option>
                        <option value="paid">Paid</option>
                        <option value="unpaid">Unpaid</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer textcenter">
                <button type="button" class="btn modalbtn fontweight600" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn modalbtn fontweight600">Reset</button>
                <button type="button" class="btn modalbtn fontweight600" ng-click="getreports(filteroptions.fromdate, filteroptions.todate,filteroptions.customer,filteroptions.customer_contact,filteroptions.status)">Apply</button>
            </div>
        </div>
    </div>
</div>

<!--PAYMENT MODAL-->
<div class="modal fade paymentmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title greencolor" id="myModalLabel">Make Payment</h4>
            </div>
            <div class="modal-body row">
                <!--
                <div class="width100 col col-md-12 greencolor">
                    <h5>Paid</h5>
                </div>
                <div class="col col-md-12">
                    <div class="input-group">
                        <input type="number" class="" ng-model="payment.paid">
                    </div>
                </div>
-->
                <div class="width100 col col-md-12 greencolor">
                    <h5>This much amount is paid</h5>
                </div>
                <div class="col col-md-12">
                    <div class="input-group">
                        <input type="number" class="" ng-model="payment.selectedpaid">
                        <button type="button" class="btn modalbtn fontweight600" ng-click="makefullpayment()">Full</button>
                    </div>
                </div>
<!--                For Check No-->
                <div class="width100 col col-md-12 greencolor">
                    <h5>Enter Check No</h5>
                </div>
                <div class="col col-md-12">
                    <div class="input-group">
                        <input type="text" class="" ng-model="payment.check_no">
                    </div>
                </div>
                
                <div class="width100 col col-md-12 greencolor">
                    <h5>TDS</h5>
                </div>
                <div class="col col-md-12">
                    <div class="input-group">
                        <input type="number" class="" ng-model="payment.tds" ng-change="addingtds()">
                    </div>
                </div>
                <div class="width100 col col-md-12 greencolor paddingtop2">
                    <h5>Remaining Payment: ₹ {{payment.selectedtotal - payment.selectedpaid - payment.tds | number:0}}</h5>
                </div>

            </div>
            <div class="modal-footer textcenter">
                <button type="button" class="btn modalbtn fontweight600" ng-click="updatepayment()">Done</button>
            </div>
        </div>
    </div>
</div>

<!--SURE MODAL-->
<div class="modal fade suremodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-body row textcenter">
                <h4>Are you sure you want to delete this ?</h4>
                <button type="button" class="btn modalbtn fontweight600" data-dismiss="modal">No</button>
                <button type="button" class="btn modalbtn fontweight600" ng-click="deleteconfirm()">Yes</button>
            </div>
        </div>
    </div>
</div>

<!--LOADIN REPORTS MODAL-->
<div class="modal fade loadingmodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document" style="width: 400px;">
        <div class="modal-content">
            <div class="modal-body row textcenter">
                <h4>Loadin Reports...Please wait</h4>
            </div>
        </div>
    </div>
</div>

<div ng-include="template.errormodal" class=""></div>

<!--INITIALIZE DATE PICKER-->
<script>
    $('.input-daterange').datepicker({
        format: "dd/mm/yyyy",
        daysOfWeekHighlighted: "0"
    });

</script>
