<style>
    .minwid{
        min-width: 180px;
    }
    .table-wrap{
      overflow-x:auto;
        max-height: 70vh;  
    }
    .addtrackingbtn{
        padding: 10px;
        line-height: 3em;
        border-radius: 6px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.66);
        font-size: 16px;
    }
</style>
<div class="container">
    <div class="row">
        <div class="col col-md-3">
            <div ng-include="template.menu" class="template menu"></div>
        </div>

        <div>
            <a class="addtrackingbtn greenbg table-plus-btn" ng-click="addnewairway()"><i class="fa fa-plus" style="margin-right: 8px;"></i>Add Tracking</a>

        </div>
        <div class="col col-md-9 textcenter">
            <div class="table-wrap">
                <table>
                    <tr class="greenbg textcenter">
                        <th>Sr. No</th>
                        <th class="minwid">Airway Bill No</th>
                        <th>Booking Date</th>
                        <th class="minwid">Consignee Name</th>
                        <th class="minwid">Destination</th>
                        <th class="minwid">Forwarding No</th>
                        <th>Forwarding Company</th>
                        <th>Delivery Date</th>
                        <th class="minwid">Status</th>
                        <th class="minwid">Reciever Name</th>
                        <th></th>
                        <th></th>
                        <th></th>

                    </tr>
                    <tr ng-repeat="bill in airwaybills|orderBy:'-'">
                        <td>
                            <input type="text" name="" ng-value="$index+1" ng-disabled="!(bill|getproperty:'airway_number')">
                        </td>
                        <td>
                            <input type="text" name="" ng-model="bill.airway_number" ng-disabled="!(bill|getproperty:'airway_number')">
                        </td>
                        <td>
                            <input type="date" class="input-text" ng-model="bill.date" ng-disabled="!(bill|getproperty:'airway_number')">
                        </td>
                        <td>
                            <input type="text" name="" class="input-text" ng-model="bill.consignment_name" ng-disabled="!(bill|getproperty:'airway_number')">
                        </td>
                        <td>
                            <input type="text" name="" class="input-text" ng-model="bill.destination" ng-disabled="!(bill|getproperty:'airway_number')">
                        </td>
                        <td>
                            <input type="text" name="" class="input-text" ng-model="bill.forwarding_number" ng-disabled="!(bill|getproperty:'airway_number')">
                        </td>
                        <td>
                            <select name="" class="select-option" ng-model="bill.forwarding_company_id" ng-disabled="!(bill|getproperty:'airway_number')">
                                <option value="{{courierservice.id}}" ng-repeat="courierservice in courierservices">{{courierservice.name}}</option>




                            </select>
                        </td>
                        <td>
                            <input type="date" name="" class="input-text" ng-model="bill.delivery_date" ng-disabled="!(bill|getproperty:'airway_number')">
                        </td>
                        <td>
                            <input type="text" name="" class="input-text" ng-model="bill.status" ng-disabled="!(bill|getproperty:'airway_number')">
                        </td>

                        <td>
                            <input type="text" name="" ng-model="bill.receiver_name" ng-disabled="!(bill|getproperty:'airway_number')">
                        </td>
                        <td>
                            <button class="reportmenubtn" type="button" data-toggle="modal" ng-click="getselfdeliverystatus(bill)" data-target="#myModal" ng-if="bill.forwarding_company_id=='1'&&!(bill|getproperty:'airway_number')">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </button>
                        </td>
                        <td>
                            <p ng-click="editbill(bill)" data-placement="top" data-toggle="tooltip" title="Edit" ng-if="!(bill|getproperty:'airway_number')">
                                <button class="btn btn-xs edit-btn" style="background-color:#00;796b" data-title="Edit"><span class="glyphicon glyphicon-pencil"></span>
                                </button>
                            </p>
                            <p ng-click="submitbill(bill)" data-placement="top" data-toggle="tooltip" title="Submit" ng-if="bill|getproperty:'airway_number'">
                                <button class="btn btn-xs edit-btn" style="background-color:#00;796b" data-title="Submit"><span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </p>
                        </td>
                        <td>
                            <p ng-click="deletebill(bill)" data-placement="top" data-toggle="tooltip" title="Delete" ng-if="!(bill|getproperty:'airway_number')">
                                <button class="btn btn-danger btn-xs" data-title="Delete"><span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </p>
                            <p ng-click="cancelediting(bill)" data-placement="top" data-toggle="tooltip" title="Cancel" ng-if="bill|getproperty:'airway_number'">
                                <button class="btn btn-danger btn-xs" data-title="Cancel"><span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </p>
                        </td>
                    </tr>


                </table>
            </div>
        </div>
    </div>
</div>
<!--Modal-->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" ;>

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="row textcenter greencolor fontweight600">
                    DELIVERY STATUS
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div>
                <a class="btn-floating btn-small greenbg table-plus-btn" ng-click="addselftrackings()"><i class="fa fa-plus"></i></a>

            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table>
                    <tr class="greenbg textcenter">
                        <th>Date</th>
                        <th>Time</th>
                        <th>Activity</th>
                        <th>Location</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="deliverystatus in selfdeliverystatus|orderBy:'-'">
                        <td style="width:10%">
                            <input type="date" ng-model="deliverystatus.date" ng-disabled="!(deliverystatus|getproperty:'airwaybill_id')">
                        </td>
                        <td>
                            <input type="time" ng-model="deliverystatus.time" ng-disabled="!( deliverystatus|getproperty:'airwaybill_id')">
                        </td>
                        <td>
                            <input type="text" name="" class="input-text" ng-model="deliverystatus.activity" ng-disabled="!( deliverystatus|getproperty:'airwaybill_id')">

                        </td>
                        <td>
                            <input type="text" name="" class="input-text" ng-model="deliverystatus.location" ng-disabled="!( deliverystatus|getproperty:'airwaybill_id')">
                        </td>
                        <td>

                            <a ng-click="editselftracking(deliverystatus)" ng-if="!(deliverystatus|getproperty:'airwaybill_id')">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                            <a ng-click="submitselftracking(deliverystatus)" ng-if=" deliverystatus|getproperty:'airwaybill_id'">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>

                        </td>
                        <td>
                            <a ng-click="deleteselftracking(deliverystatus)" class="deleteitembtn btn-floating btn-small greenbg" ng-if="!(deliverystatus|getproperty:'airwaybill_id')"><i class="glyphicon glyphicon-trash"></i></a>
                            <a ng-click="cancelselfdataediting(deliverystatus)" class="deleteitembtn btn-floating btn-small greenbg" ng-if="deliverystatus|getproperty:'airwaybill_id'"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    <!--

              
            </div>

            <!-- Modal footer -->
                    <!--<div class="modal-footer">
                    <button type="button" class="btn btn-danger close-btn" data-dismiss="modal">Close</button>
                </div>
-->
                </table>
            </div>

        </div>
    </div>
</div>

<div class="modal" id="error-modal">
    <div class="modal-dialog">
        <div class="modal-content" ;>

            <!-- Modal Header -->
            <div class="modal-header">
                <div class="row textcenter greencolor fontweight600">
                    Duplicate Airway Number
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>{{submiterror}}</p>
                <button class="btn btn-xs edit-btn" ng-click="dismisserrormodal()">I understood</button>
            </div>

        </div>
    </div>
</div>
